/* blog previews / list */
.blog-list .title{
  margin-left: 15px;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  transition: 0.4s all;
}
.blog-preview:hover {
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}