/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.code {
  line-height: 40px;
}

.code h1 {
color: #f1356d;
}
.code h2{
 color: #f1356d;
}

.code h3{
 color: #f1356d;
}
.code h4{
 color: #f1356d;
}
.code h5{
 color: #f1356d;
}
.code h6{
 color: #f1356d;
}
.code strong{
  color: #f1356d;
}

.code pre div{
  line-height: 32px !important;
}